.vscode
.obj
*.o
nibbler.exe
nibbler.out
SDL3.dll
NibblerSDL.dll
NibblerSDL.so
glfw3.dll
NibblerGLFW.dll
NibblerGLFW.so
allegro_primitives-5.2.dll
allegro-5.2.dll
NibblerAllegro.dll
NibblerAllegro.so
